body{
      font-family:'Montserrat'; 
}
#title{
      background-color: rgb(235, 63, 97);      
}

.navbar-brand{
      font-family:'Montserrat';
      font-size: 100px;
      
      margin-top: 50px;
      font-size:300px;
      font-weight: bolder;
}
.navbar-brand h{
      font-size: 35px;
      color: white;
}
.navbar-nav{
      
      margin-top: 50px;
      font-weight: bold;
}
.nav-item{
      padding: 40px;
      font-family:'Montserrat';
}

/*------------------Content, Download buttons & iphone----------------------*/
h1{
      font-family: 'Montserrat'; 
}
.download-button{
      margin: 5% 3% 5% 0;
}
.row{
      padding-top: 60px;
}
.title-image{
      width: 30%;
      transform: rotate(25deg);
      size: 50px;
      z-index: -1;
}


/*-------------------------------Features----------------------------------*/
#features{
    
      padding-top: 100px;
      font-family:'Montserrat';
      padding-bottom: 100px;
      z-index: 1;
      position: relative;

}
.sec2{
      text-align: center;
      
      
}
.icon{
      color: rgb(252, 138, 121);
}
.r{
      margin: 3% 3% 3% 0;
      
}
.r :hover{
      opacity: 0.5;
}

/*-------------------------------company----------------------------------*/
#company{
      background-color: rgb(252, 138, 121);
      padding-top: 100px;
      padding-bottom: 100px;
}
.company-content{
      font-family:'Montserrat';
      color: rgb(243, 230, 208);
}

.company-img{
      border-radius: 50%;
      height: 200px;
      width: 200px;
}
.company-logos{
      width: 70%;
      margin-top: 100px;
}
.sec2logo :hover{
      opacity: 0.5;
}



/*-------------------------------subscription----------------------------------*/
#subscription{
      padding-top: 80px;
      padding-bottom: 80px;
}
.sec4content{
      text-align: center;
}
.sec4col{
      text-align: center;
}

/*-------------------------------downloadlink----------------------------------*/
#downloadlink{
      background-color: rgb(235, 63, 97); 
      text-align: center;
      
}

/*-------------------------------socialmedia----------------------------------*/
#socialmedia{
      margin-bottom: 300px;
}
.container{
      text-align: center;
      width: 100%;
}
.sm{
      margin: 5% 5% 5% 0;
}